Standard Install
==========

iCasa is decomposed in two parts:

* _Gateway part_ corresponding to the box runtime (iCasa Home Server) including the simulator module.
* _Web server part_ serving the client web application code (Content Server).

A client using a Web browser access first the Web Server to get the content of web application and then, it access the Gateway to get information about the iCasa execution context and to interact with it.

![Web Architecture](install/install-architecture.png "Web Architecture")


Installation Prerequesites
------------

- Java Development Toolkit 6 (Avoid Java 7 that may cause troubles).
- A modern Web browser (We recommend to use Firefox but you can also use Chrome, Internet Explorer is not yet supported).


Installation Procedure
-----------

1. Download a full iCasa binary distribution (We recommend the icasa.teaching.distribution to start).
2. Unzip it on a local folder i.e. the ICASA_HOME directory.

The ICASA_HOME directory should have this structure

![ICasa Structure](install/icasa-home.png "ICasa Structure")
   
In addition four launch scripts are in the root directory: startGateway.bat, startGateway.sh, debugGateway.bat and debugGateway.sh

   
Launch
======

Gateway Part Launch
--------------

1. Go to the ICASA_HOME directory.
2. Execute startGateway script on Unix systems or startGateway.bat script on Windows systems.

By default, the gateway port is set to 9000.
In this case, the platform url would be _http://localhost:9000/_.

Web Server Part Launch
---------------

1. In order to have the simulator and/or the dashboard, it is needed to have the corresponding bundles in the iCasa Platform:

- simulator-web-instance, for the simulator GUI site.
- dashboard-web-instance, for the dashboard GUI site.

2. To interact with those applications, go to:

- _http://localhost:9000/simulator_.  for the simulator GUI
- _http://localhost:9000/dashboard_.  for the dashboard GUI



